/*** Colors ***/
$primary-blue: #4cbcf1;
$accent-green: #7cfdb9;
$primary-blue-light: #7dc6ff;
$dark-grey: #2b2b2b;
$medium-grey: #575757;
$light-grey: #adadad;
$white: #ffffff;

/*** Font stacks ***/
$fontStackBold: 'Gotham Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontStackMedium: 'Gotham Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontStackLight: 'Gotham Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$fontStackThin: 'Gotham Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;


/*** Section heights and widths ***/
$sidebar-nav-width: 350px;
$mobile-sidebar-nav-width: 250px;
$footer-height: 50px;



/*** Device screen widths ***/
$phone: 414px;
$tablet: 768px;


