<section class="sidebar">
    <div class="sidebar-inner">
        <div class="sidebar-content-wrap">
            <a href="/"><img src="" class="avatar"/></a>
            <h1 class="site-title">Michael Movsesov</h1>
            <h2 class="site-description">Design is my muse. Code is my medium</h2>
            <nav class="sidebar-nav">
                <!--<?php wp_nav_menu( array( 'theme_location' => 'sidebar-nav' ) ); ?> -->
            </nav>
        </div>
    </div>

    <nav class="social-nav">
        <!--<a href="<?php echo get_option('social_url_1'); ?>" target="_blank"><i class="fa <?php echo get_option('social_icon_1'); ?>"></i></a>-->
        <!--<a href="<?php echo get_option('social_url_2'); ?>" target="_blank"><i class="fa <?php echo get_option('social_icon_2'); ?>"></i></a>-->
        <!--<a href="<?php echo get_option('social_url_3'); ?>" target="_blank"><i class="fa <?php echo get_option('social_icon_3'); ?>"></i></a>-->
        <!--<a href="<?php echo get_option('social_url_4'); ?>" target="_blank"><i class="fa <?php echo get_option('social_icon_4'); ?>"></i></a>-->
        <!--<a href="<?php echo get_option('social_url_5'); ?>" target="_blank"><i class="fa <?php echo get_option('social_icon_5'); ?>"></i></a>-->
    </nav>
</section>
