.page-header {
  padding: 0 0 33px 0;
  margin: 0;
  border-bottom: 1px solid $light-grey;
  text-transform: uppercase;

  @include breakpoint(0, $phone) {
    padding: 0 0 20px 0;
  }

  .page-header-title {
    font-size: 18px;

    @include breakpoint(0, $phone) {
      font-size: 14px;
    }
  }


}