/*** Projects ***/

.projects {
  padding: 20px 0;
  border-bottom: 1px solid $light-grey;

  @include breakpoint(0, $phone) {
    padding: 25px 0;
  }


  h2 {
    margin: 0;
    font-size: 24px;
    a {
      text-decoration: none;
      color: $medium-grey;

      &:hover {
        color: $primary-blue;
      }
    }

    @include breakpoint(0, $phone) {
      margin: 5px 0 0 0;
    }
  }

  p {
    font-size: 14px;
  }
}

.project-meta {
  @extend .post-meta;
  font-size: 12px;
}

.project-thumbnail {
  position: relative;
  display: block;
  width: 100%;
  border: 8px solid $lightest-grey;
  border-radius: 4px;
  margin-bottom: 5px;
}


.project-content {
  @extend .post-content;
  padding: 5px 0 0 0;

  @include breakpoint(0, $phone) {
    margin: 0;
  }
}