/*** General Blog Post Styles ***/

.post-meta {
  color: $light-grey;
  text-transform: uppercase;

  @include breakpoint(0, $phone) {
    font-size: 14px;
  }

}
.post-content {
  padding: 40px 0;
  color: $medium-grey;

  @include breakpoint(0, $phone) {
    margin: 30px 0;
  }

  img {
    margin: 0;
    max-width: 100%;
    height: auto;
  }
}

.post-cta {
  margin: 25px 0 25px 0;
  text-align: center;
}


/*** Recent Articles ***/

.recent-articles {
  padding: 40px 0;
  border-bottom: 1px solid $light-grey;

  @include breakpoint(0, $phone) {
    padding: 25px 0;
  }


  h2 {
    a {
      text-decoration: none;
      color: $medium-grey;

      &:hover {
        color: $primary-blue;
      }
    }

  }

}

.prev-next-posts {
  margin-top: 50px;
  text-transform: uppercase;
}

/*** Single Blog Post ***/

.post {
  h1 {
    a {
      text-decoration: none;
      color: $dark-grey;

      &:hover {
        color: $primary-blue;
      }
    }

  }

}


