/*** Side Navigation ***/
.sidebar {
  position: fixed;
  width: $sidebar-nav-width;
  height: 100%;
  float: left;
  color: $white;
  overflow-y: auto;
  background: linear-gradient($primary-blue, $accent-green);
  background: -webkit-linear-gradient($primary-blue, $accent-green); /* For Sa  fari 5.1 to 6.0 */
  background: -moz-linear-gradient($primary-blue, $accent-green); /* For Firefox 3.6 to 15 */
  background: -o-linear-gradient($primary-blue, $accent-green); /* For Opera 11.1 to 12.0 */
  transition: all 0.4s ease;

  .sidebar-inner {
      position: relative;
      height: 100%;
      width: 200px;
      text-align: center;
      margin: 0 auto -70px auto;

      @include breakpoint(0, $tablet) {
        width: 180px;
      }

    .sidebar-content-wrap {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -o-transform: translateY(-50%);


      .avatar {
        width: 100px;
        height: auto;
        border-radius: 100px;
        box-shadow: 0 0 0 6px rgba(255,255,255,.3);
        -webkit-box-shadow: 0 0 0 6px rgba(255,255,255,.3);
        -moz-box-shadow: 0 0 0 6px rgba(255,255,255,.3);
        -o-box-shadow: 0 0 0 6px rgba(255,255,255,.3);

        @include breakpoint(0, $tablet) {
          width: 80px;
        }

        @media (max-height: 500px) {
          width: 80px;
        }

        @media (max-height: 400px) {
          display: none;
        }

      }

      .site-title {
        font-size: 18px;
        font-family: $fontStackBold;
        color: inherit;
        text-transform: uppercase;
        margin: 20px 0 0 0;
        text-shadow: 1px 1px 0 rgba(0,0,0,.2);

        @include breakpoint(0, $tablet) {
          font-size: 16px;
        }

        @media (max-height: 500px) {
          font-size: 16px;
        }
      }

      .site-description {
        font-family: $fontStackLight;
        font-size: 12px;
        margin: 4px 0 10px 0;
        color: inherit;
        text-transform: uppercase;

        @include breakpoint(0, $tablet) {
          font-size: 10px;
        }

        @media (max-height: 500px) {
          font-size: 10px;
        }

      }

      .sidebar-nav {
        margin: 55px 0;
          text-align: left;

        ul {
          padding: 0;

          .current-menu-item {
            a {
              opacity: 1;
            }
          }

          li {
            list-style: none;
            padding: 15px 0;
            margin-bottom: 15px;
            font-size: 18px;

            @include breakpoint(0, $tablet) {
              font-size: 16px;
              padding: 5px 0;
            }

            @media (max-height: 500px) {
              font-size: 16px;
              padding: 5px 0;
            }

            a {
              color: $white;
              opacity: 0.8;
              text-transform: uppercase;
              letter-spacing: 3px;

              &:hover {
                opacity: 1;
              }

              &:active {
                text-decoration: none;
              }
            }
          }
        }
      }
    }

  }

  .social-nav {
    position: relative;
    height: 70px;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 30px;

    @media (max-height: 400px) {
      font-size: 25px;
    }

    @media (max-height: 319px) {
      display: none;
    }


    a {
      color: $white;
      opacity: 0.8;
      padding: 0 2px;

      &:hover {
        opacity: 1;
      }
    }

  }

  @include breakpoint(0, $tablet){
    margin-left: -$sidebar-nav-width;
  }

  @include breakpoint($tablet, 0){
    width: $sidebar-nav-width !important;
  }

}


/*** Push main content to the right when sidebar navigation is open (mobile) ***/
.js-sidebar-open {

  .sidebar {
    width: $mobile-sidebar-nav-width;
    margin-left: 0;

  }
  .page-content-wrapper {
    left: $mobile-sidebar-nav-width;
  }

  footer {
    width: calc(100% - #{$mobile-sidebar-nav-width});
    left: $mobile-sidebar-nav-width;
  }
}
