---
layout: default
---
<div class="inner-wrap scene_element scene_element--fadeinfromright">
    <div class="page-header">
        <h3 class="page-header-title">Recent Articles</h3>
    </div>
    {% for post in site.posts %}
    <article class="recent-articles">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
        <div class="post-meta">
            <time>{{ post.date | date: '%B %d, %Y' }}</time>
        </div>
        <div class="post-content">
            {{ post.excerpt }}<a href="{{ post.url | relative_url }}">Read More</a>
        </div>
    </article>
    {% endfor %}
    <nav class="prev-next-posts">
        <div class="next-posts-link text-left">
            <?php previous_posts_link( 'Newer Articles' ); ?>
        </div>
        <div class="prev-posts-link text-right">
            <?php next_posts_link( 'Older Articles'); ?>
        </div>
    </nav>
    <?php endif; ?>
</div>