---
layout: default
---
<div class="inner-wrap scene_element scene_element--fadein">
    <div class="page-header">
        <h3 class="page-header-title">Recent Articles</h3>
    </div>
    {% for post in site.posts %}
    <article class="recent-articles">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
    </article>
    {% endfor %}
    <!--<nav class="prev-next-posts">-->
        <!--<div class="next-posts-link text-left">-->
            <!--<?php previous_posts_link( 'Newer Articles' ); ?>-->
        <!--</div>-->
        <!--<div class="prev-posts-link text-right">-->
            <!--<?php next_posts_link( 'Older Articles'); ?>-->
        <!--</div>-->
    <!--</nav>-->
</div>