<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="page-wrapper m-scene" id="main">
      {% include sidebar.html %}
      <main class="page-content-wrapper">
        {% include navbar-mobile.html %}
        <div class="container-fluid">
          {{ content }}
        </div>
      </main>
      <script src="{{ '/assets/js/michaelmov.js' | relative_url }}"></script>
    </div>

    {% include footer.html %}
  </body>
</html>
