<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <div class="page-wrapper">
      {% include sidebar.html %}
      <main class="page-content-wrapper">
        {% include navbar-mobile.html %}
        {{ content }}
      </main>
    </div>

    {% include footer.html %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/michaelmov.js' | relative_url }}"></script>
  </body>
</html>
