---
layout: default
---
<header class="home__hero d-flex align-items-center text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 d-flex justify-content-center my-1">
                <a href="/" class="d-block">
                    <div class="home__hero-avatar" style="background-image: url({{site.url}}/assets/images/michael_movsesov_avatar.jpeg)"></div>
                </a>
            </div>
            <div class="col d-flex my-1 justify-content-center align-items-center align-items-md-start flex-column">
                <h1 class="home__hero-title h3 mb-1">{{ site.title }}</h1>
                <h2 class="home__hero-subtitle h6 text-uppercase mb-2">{{ site.subtitle }}</h2>
                <div class="home__hero-social">
                    <a href="https://github.com/michaelmov" target="_blank"><i class="fab fa-github"></i></a> 
                    <a href="https://codepen.io/michaelmov/" target="_blank"><i class="fab fa-codepen"></i></a> 
                    <a href="https://www.linkedin.com/in/michaelmov" target="_blank"><i class="fab fa-linkedin"></i></a> 
                    <a href="https://twitter.com/MichaelMov" target="_blank"><i class="fab fa-twitter"></i></a> 
                    <a href="mailto:michael.movsesov@gmail.com" target="_blank"><i class="far fa-envelope"></i></a> 
                </div>
            </div>
        </div>
    </div>
</header>

<div class="inner-wrap scene_element scene_element--fadein">
    <div class="page-header">
        <h3 class="page-header-title">Portfolio</h3>
    </div>
    {% for project in site.portfolio %}
    <article class="projects">
        <div class="row">
            <div class="col-md-5">
                <img class="project-thumbnail" src="{{ site.url }}/{{ project.thumbnail }}" alt="">
                <a href="{{ project.live }}" target="_blank"><i class="fa fa-globe"></i> Live</a> |
                <a href="{{ project.source }}" target="_blank"><i class="fa fa-github"></i> Source Code</a>
            </div>
            <div class="col-md-7">
                <h2>{{ project.title | escape }}</h2>
                <div class="project-meta">
                    {% for category in project.categories %}
                    <span>{{ category }}<span>{% unless forloop.last %},{% endunless %}
                    {% endfor %}
                </div>
                <div class="project-content">
                    {{ project.content }}
                </div>
            </div>
        </div>
    </article>
    {% endfor %}
</div>