.article {
    &__hero {
        position: relative;
        height: 600px;
        position: relative;
        background-image: linear-gradient(-134deg, $primary-green 0%, $primary-blue 100%);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        background-position: center;

        @include media-breakpoint-down(sm) {
            height: 400px;
            background-attachment: scroll;
        }

        &-text {
            transition: all 0.6s ease-out;
        }

        &-title {
            @include media-breakpoint-down(sm) {
                font-size: $font-size-base * 1.5;
            }
        }
        &-date {
            margin-bottom: 200px;
            font-family: $font-family-regular;

            @include media-breakpoint-down(sm) {
                margin-bottom: 100px;
            }
        }

        &-bg-overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: $black;
            opacity: 0.5;
        }

    }

    &__main {
        position: relative;

        .container-fluid {
            max-width: 1040px;
        }
    }

    &__content {
        position: relative;
        transform: translateY(-200px);

        @include media-breakpoint-down(sm) {
            transform: translateY(-100px);
        }

        p, ul, ol, h1, h2, h3, h4, h5, h6 {
            margin: 0 auto;
            width: 80%;
            margin-bottom: $spacer*3;
            a {
                box-shadow: 0px -3px 0px 0px $primary-green inset;
                text-decoration: none !important;
                transition: box-shadow 0.25s ease-in-out;
            
                &:hover {
                    box-shadow: 0px -18px 0px 0px $primary-green inset;
                }
            }

            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
        

        .hljs {
            padding: $spacer * 4;
            border-radius: 5px;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        @include media-breakpoint-down(sm) {
            padding: $spacer * 4 !important;
            padding-top: $spacer * 7 !important;
        }
    }

    &__author-avatar {
        display: block;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);
        height: 100px;
        width: 100px;
        position: absolute;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: 6px solid $white;
        border-radius: 100%;

        @include media-breakpoint-down(sm) {
            top: -35px;
            height: 70px;
            width: 70px;
            border-width: 4px;
        }
    }

}