/*** Colors ***/
$primary-blue: #4cbcf1;
$accent-green: #7cfdb9;
$primary-blue-light: #7dc6ff;
$dark-grey: #2b2b2b;
$medium-grey: #575757;
$light-grey: #adadad;
$lightest-grey: #e7e7e7;
$white: #ffffff;

/*** Font stacks ***/
$fontStack: 'Open Sans', sans-serif;


/*** Section heights and widths ***/
$sidebar-nav-width: 350px;
$mobile-sidebar-nav-width: 250px;
$footer-height: 50px;



/*** Device screen widths ***/
$phone: 414px;
$tablet: 768px;


